---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Signup } from "../components/Signup.tsx";
import Card from "../components/Card.astro";
import { ServerStatus } from "../components/ServerStatus.tsx";
---

<Layout>
  <Hero />
  <div class="flex justify-center p-4">
    <Signup />
  </div>
  <ServerStatus client:load />
  <div class="space-y-6 p-4 md:flex md:gap-4 md:space-y-0">
    <Card
      title="Get Interview Ready"
      description="Need to brush up on your JavaScript skills for an interview? This fast paced code kata platform will get you ready in no time."
    />
    <Card
      title="Review AI Slop Faster"
      description="Spending too much time reading AI generated code?THis platform will teach you the ins and outs of JavaScript so you know when AI has made a mistake."
    />
    <Card
      title="Code Faster"
      description="Build muscle memory so you can code faster without draining your metal energy"
    />
  </div>
</Layout>
